includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
      - src
      - config

    tmpDir: build/phpstan

    ignoreErrors:
        - "#^Class App\\\\Http\\\\Middleware\\\\EncryptCookies not found\\.$#"
