includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
      - src # <hasConfig> #
      - config # </hasConfig> # # <hasDatabase> #
      - database # </hasDatabase> #

    tmpDir: build/phpstan
