includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
      - src

    tmpDir: build/phpstan

    ignoreErrors:
        - identifier: missingType.iterableValue
          paths:
              - src/Facades/CloudflareCache.php

